/* Modifications to bootstrap classes */

/*End bootstrap classes*/

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    width: 100%;
}

.row-header,
.row-content {
    padding: 70px 15px;
    min-height: 100vh;
}

.row-footer {
    padding: 30px 15px;
    background-color: #AfAfAf;
}

#home {
    background: #000000 url("/img/orchestra-wiki.jpeg") center fixed;
    background-size: cover;
}

.row-header h1 {
    text-align: center;
    color: antiquewhite;
    font-family: fantasy;
    font-size: 6em;
}

.row-header h2 {
    text-align: left;
    color: deepskyblue;
    font-family:serif;
    font-size: 4em;

}

.row-content h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 6em;
}

.row-content h2 {
    text-align: left;
    font-family:serif;
    font-size: 4em;

}

#about {
    background: #FFFFFF url("../img/kroonland.jpg") center fixed;
    background-size: cover;
    color:#12140a;
}

.profile-img {
    max-height: 50vh;
    border: 2px solid #e8e820;
    padding:1px;

}

#portfolio {
    background: #ffc21e url("../img/Pineapple.JPG") center fixed;
    background-size: cover;
    color: #efe4e4;
    text-outline: 20px 20px #ff0000;

}

#contact {
    background:;
    background-size: cover;
    background-color: aquamarine;
    color: cornflowerblue;
}


#portfolio-row img{
    width: 100%;
    padding: 1em;
}

/* Custom Made Free Code Camp Styles */
.btn-freecodecamp {
    color: #fff;
    background-color: #492c14;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-freecodecamp:hover,
.btn-freecodecamp:focus,
.btn-freecodecamp:active,
.btn-freecodecamp.active,
.open .dropdown-toggle.btn-freecodecamp {
    color: #fff;
    background-color: #392312;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-freecodecamp:active,
.btn-freecodecamp.active,
.open .dropdown-toggle.btn-freecodecamp {
    background-image: none
}

.btn-freecodecamp.disabled,
.btn-freecodecamp[disabled],
fieldset[disabled] .btn-freecodecamp,
.btn-freecodecamp.disabled:hover,
.btn-freecodecamp[disabled]:hover,
fieldset[disabled] .btn-yahoo:hover,
.btn-freecodecamp.disabled:focus,
.btn-freecodecamp[disabled]:focus,
fieldset[disabled] .btn-yahoo:focus,
.btn-freecodecamp.disabled:active,
.btn-freecodecamp[disabled]:active,
fieldset[disabled] .btn-yahoo:active,
.btn-freecodecamp.disabled.active,
.btn-freecodecamp[disabled].active,
fieldset[disabled] .btn-freecodecamp.actfreecodecampive {
    background-color: #492c14;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-freecodecamp .badge {
    color: #492c14;
    background-color: #fff
}
